name: Rebuild the documentations webpage

on:
  push:
    branches:
      - main

    paths:
      - 'docs/**'  # only rebuild docs webpage if docs/ has changed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main
          path: docs

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      # - name: Install dependencies
      #   run: |
      #     gem install bundler
      #     bundle install
      
      - name: List repository files
        run: ls -R